@tailwind base;
@tailwind components;
@tailwind utilities;

/* loading custom font */
@font-face {
  font-family: "QuicksandBold";
  src: local("QuicksandBold"),
   url("./fonts/Quicksand/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

/* custom tailwind class */
@layer components {
  .fullScreen {
    @apply scroll-smooth max-w-[1280px] min-h-fit min-w-full px-6 py-8 md:px-16 md:py-6 lg:px-32 lg:py-5  bg-white flex flex-col items-start
  }

  .card {
    @apply bg-white/40 shadow-md rounded-lg  backdrop-blur-sm
  }

  .dot-overlay {
    @apply relative;
  }
   .dot-overlay::before {
    content: '';
    @apply absolute inset-0 pointer-events-none;
    background-image: radial-gradient(circle, rgba(0,0,0,0.1) 1px, transparent 1px);
    background-size: 15px 15px;
    z-index: -1;
  }
}


/* others css */

:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scrollbar-width: none;

  --slateBlue: #8186F9;
  --greyBlack: #6A6B6D;
  --black: #2A2C2E;
}
/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
:root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


